@use '@/styles/palette' as palette;
@use '@/styles/value' as value;

$code-border-radius: 0.8em;

@mixin mdx-elements {
  > * {
    max-width: 100%;

    // @todo fix
    // padding: 0 value.$content-padding;
  }

  // Headings
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    position: relative;

    margin: value.$large-margin 0;

    code {
      font-weight: inherit;
    }
  }

  ul,
  ol {
    padding-left: value.$list-padding;
  }

  // Element margins
  p,
  hr,
  ul,
  ol,
  :not(pre) > code,
  pre {
    margin: value.$large-margin 0;
  }

  // Separator
  hr {
    color: palette.$gray;

    margin: value.$large-margin 0;
    border-style: dashed;
  }

  // Syntax highlighting
  code {
    width: fit-content;

    font-size: value.$content-small-font-size;
    letter-spacing: normal;
  }

  :not(pre) > code,
  pre {
    border-radius: $code-border-radius;

    background-color: palette.$code-background-color;
    color: palette.$code-text-color;
  }

  :not(pre) > code {
    padding: 0.5em 0.7em;

    background-color: palette.$code-background-color;
    color: palette.$code-text-color;

    font-size: 0.8em;
  }

  pre {
    padding: value.$large-margin;
    margin: value.$large-margin 0;

    overflow-x: auto;

    // Shiki highlighter
    &:global(.shiki) {
      @include palette.shiki-theme();

      display: flex;
      flex-direction: column;
    }

    code span:global(.line),
    code:not(:has(span)) {
      display: inline-block;

      &:global(.highlighted) {
        // Highlighted line background
        background-color: rgba(palette.$gray, 12%);

        border-radius: $code-border-radius;
      }
    }
  }
}
