@use '@/styles/palette' as palette;
@use '@/styles/mixin' as mixin;
@use '@/styles/value' as value;
@use './mdx' as mdx;

.wrapper {
  display: flex;
  justify-content: center;

  width: 100%;
}

.container {
  display: flex;
  align-items: stretch;
  flex-direction: column;

  @include mixin.fixed-width-container-styles;
}

.article-container {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.content-container {
  line-height: value.$content-line-spacing;

  // padding: value.$large-margin 0;
  padding: value.$large-margin value.$content-padding; // @todo change this later

  font-size: value.$content-font-size;

  @include mdx.mdx-elements;
}

// More posts
.more-posts-container {
  display: flex;
  flex-direction: column;

  margin-top: 300px;

  width: 100%;

  .title {
    @include mixin.title-styles;
  }
}
