@use '@/styles/mixin' as mixin;
@use '@/styles/value' as value;
@use '@/styles/palette' as palette;

.container {
  position: fixed;
  bottom: 0;
  right: 0;

  display: flex;

  padding: value.$large-margin;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  @include mixin.button-style(
    $background-color: palette.$white,
    $text-color: palette.$dark-gray
  );
  @include mixin.pointer-feedback-animation;

  width: 40px;
  height: 40px;

  border-radius: 100%;

  > svg {
    overflow: visible;

    stroke: currentColor;
    stroke-width: 12;

    fill: none;

    width: 40%;
    height: 40%;
  }
}
