@use '@/styles/blog/value' as value;
@use '@/styles/blog/palette' as palette;

.navbar-container {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  justify-content: center;

  width: 100%;

  border-bottom: solid value.$border-slim-width palette.$border-color;

  background-color: palette.$black-beige;
  color: palette.$beige;
}

.container {
  display: flex;
  justify-content: flex-start;

  width: 100%;
  max-width: value.$fixed-width;

  padding: value.$content-gap value.$safe-padding;
}

.list-container {
  list-style: none;

  display: flex;
  gap: 20px;

  & > li {
    display: block;

    > a {
      text-decoration: underline;

      color: currentColor;
    }
  }
}
