@use '@/styles/blog/value' as value;
@use '@/styles/blog/palette' as palette;

.navbar-container {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  justify-content: flex-start;

  width: 100%;

  padding: value.$safe-small-padding;
}

.container {
  display: flex;
  justify-content: flex-start;

  padding: 10px 12px;

  border: solid value.$border-slim-width palette.$border-color;
  border-radius: value.$border-radius;

  background-color: palette.$background-color;
  color: palette.$text-color;
}

.list-container {
  list-style: none;

  display: flex;
  gap: 20px;

  & > li {
    display: block;

    > a {
      text-decoration: underline;

      color: currentColor;
    }
  }
}

.name {
  display: flex;
  align-items: center;
  gap: value.$content-small-gap;

  color: palette.$accent-color;
}
