@use '@/styles/value' as value;
@use '@/styles/palette' as palette;

.navbar-container {
  // position: sticky;
  // top: 0;
  // left: 0;
  // z-index: 10;

  display: flex;
  justify-content: center;

  width: 100%;

  padding: value.$large-margin;
}

.container {
  display: flex;
  justify-content: flex-start;

  width: value.$fixed-width;

  color: palette.$text-color;
}

// Route list
.list-container {
  list-style: none;

  display: flex;
  align-items: center;
  gap: value.$normal-margin;

  & > li {
    display: block;

    > a {
      text-decoration: none;

      color: currentColor;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.separator {
  display: block;

  width: 3px;
  aspect-ratio: 1 / 1;

  border-radius: 100%;

  background-color: currentColor;
}
