@use '@/styles/value' as value;
@use '@/styles/mixin' as mixin;

.container {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.text-container {
  @include mixin.full-width-with-padding;

  p {
    line-height: value.$content-small-line-spacing;

    margin-bottom: value.$normal-margin;
  }
}
