@use '@/styles/value' as value;

.project-item-container {
  display: flex;

  width: 100%;
  height: 350px;

  &.align-to-right {
    flex-direction: row-reverse;

    text-align: right;
  }

  @media screen and (max-width: value.$small-screen-width) {
    &,
    &.align-to-right {
      flex-direction: column;

      text-align: left;

      height: fit-content;
    }
  }
}

.pattern-image {
  width: 400px;
  height: 100%;

  background-repeat: repeat-y;
  background-size: contain;
  background-position: center;

  @media screen and (max-width: value.$small-screen-width) {
    & {
      width: 100%;
      height: 300px;

      background-size: cover;
      background-size: 100% 60%;
    }
  }
}

.info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;

  width: 100%;
  height: 100%;

  padding: 30px;

  .align-to-right & {
    align-items: flex-end;
  }
}

.text-container {
  display: flex;
  flex-direction: column;

  width: 100%;

  font-size: var(--f-content);

  & > .project-id {
    text-transform: uppercase;
    font-size: var(--f-medium);
  }
}

.tech-stack-container {
  display: flex;

  & > span {
    display: block;

    font-size: var(--f-small);
    font-weight: 550;
    text-transform: uppercase;

    padding: 5px 15px 5px 15px;
  }
}
