@use '@/styles/palette' as palette;
@use '@/styles/mixin' as mixin;
@use '@/styles/value' as value;

.container {
  position: relative;

  @include mixin.fixed-width-container-styles;
}

// Title
.title-container {
  width: 100%;

  padding: value.$large-margin 0;
}

// Post list
.post-list-container {
  display: flex;
  flex-direction: column;
  gap: value.$large-margin;

  width: 100%;
}
