@use '@/styles/blog/palette' as palette;
@use '@/styles/blog/value' as value;

.container {
  position: relative;

  @include value.fixed-width-container-styles;
}

// Title
.title-container {
  width: 100%;

  padding: value.$content-large-gap 0;
}

// Post list
.post-list-container {
  display: flex;
  flex-direction: column;
  gap: value.$content-gap;

  width: 100%;
}
