@use '@/styles/blog/palette' as palette;
@use '@/styles/blog/value' as value;

$bottom-gradient-height: 210px;

.container {
  position: relative;

  @include value.fixed-width-container-styles;

  padding-left: 0;
  padding-right: 0;
  padding-bottom: $bottom-gradient-height;

  border: solid value.$border-slim-width palette.$border-color;
  border-top: none;
  border-bottom: none;

  @media screen and (max-width: value.$fixed-width) {
    border: none;
  }

  // Border gradient
  mask-image: linear-gradient(
    to bottom,
    black calc(100% - $bottom-gradient-height),
    transparent 100%
  );
}

// Post list
.post-list-container {
  display: flex;
  flex-direction: column;
  gap: value.$content-gap;

  width: 100%;
}
