@use '@/styles/value' as value;
@use '@/styles/palette' as palette;

.main-section {
  position: relative;

  display: flex;
  flex-direction: column;
}

.text-container {
  display: flex;
  flex-direction: column;

  padding: value.$view-padding;

  @media screen and (max-width: value.$small-screen-width) {
    padding: value.$view-padding value.$small-screen-padding;

    font-size: 6vw;
  }

  font-size: 5vw;
  letter-spacing: value.$letter-spacing;
  text-transform: uppercase;
}

.highlighted-text {
  position: relative;

  &::after {
    content: '';

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    width: 100%;
    height: 60%;

    background-color: palette.$green;
    border-radius: 100%;

    mix-blend-mode: exclusion;

    pointer-events: none;
  }
}
