@use '@/styles/retro/palette' as palette;
@use '@/styles/retro/value' as value;
@use '@/styles/retro/sections' as sections;

.container {
  @include sections.default-section-style;
}

.break {
  display: block;
  margin: value.$content-gap 0;
}

.marquee-text {
  font-weight: 900;

  color: palette.$red;
}

.thanks-image {
  max-width: 100%;
  height: auto;
}
