@use '@/styles/palette' as palette;
@use '@/styles/value' as value;

.fixed-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;

  background-color: palette.$background-color;
  color: palette.$text-color;
}

.container {
  position: relative;

  display: flex;
  width: 100%;
  max-width: value.$fixed-width;

  padding: value.$big-margin value.$content-padding;

  font-size: value.$content-small-font-size;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;

  width: 100%;
  height: 2px;

  background-color: palette.$light-gray;

  span {
    display: block;

    width: 0%;
    height: 100%;

    background-color: palette.$dark-gray;
  }
}
