@use '@/styles/retro/value' as value;

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: value.$section-gap;

  width: 100%;

  padding: value.$view-padding;
}
