@use '@/styles/retro/palette' as palette;

::selection {
  background-color: palette.$blue;
  color: palette.$white;
}

body {
  background-color: palette.$black;
  background-image: url('/assets/retro/background.webp');
  background-repeat: repeat;

  color: palette.$white;
  font-size: 14pt;
  letter-spacing: -0.03em;
  word-spacing: -0.1em;

  image-rendering: pixelated;
}

a {
  color: palette.$lightblue;
  text-decoration: underline;
}
