@use '@/styles/palette' as palette;
@use '@/styles/value' as value;

.container {
  display: flex;
  justify-content: center;

  width: 100%;

  margin: value.$normal-margin 0;
}

.image-container {
  width: 100%;
  max-width: 550px;
}

.image {
  width: 100%;
  height: auto;

  background-color: palette.$light-gray;

  border-radius: value.$border-radius;
}
