@use '@/styles/blog/palette' as palette;
@use '@/styles/blog/value' as value;

.container {
  transform: translateX(calc(-1 * value.$safe-padding));

  display: flex;
  justify-content: center;

  width: calc(100% + 2 * value.$safe-padding);

  margin: value.$content-gap 0;
  padding: 0 value.$safe-small-padding;
}

.image-container {
  width: 100%;
  max-width: 550px;
}

.image {
  width: 100%;
  height: auto;

  background-color: palette.$dark-gray;

  border-radius: value.$border-radius;
}
