@use '@/styles/mixin' as mixin;
@use '@/styles/value' as value;
@use '@/styles/palette' as palette;

.navbar-container {
  display: flex;
  justify-content: center;

  width: 100%;
}

.container {
  display: flex;
  justify-content: flex-start;

  width: value.$fixed-width;

  padding: value.$large-margin value.$content-padding;

  color: palette.$text-color;
}

// Route list
.list-container {
  list-style: none;

  display: flex;
  align-items: center;
  gap: value.$normal-margin;
}

.route-button > a {
  display: block;

  color: currentColor;
  text-decoration: none;

  border-radius: value.$border-radius;
}

.route-button > a > button {
  padding: value.$normal-margin;

  @include mixin.button-style($background-color: transparent);
  @include mixin.pointer-feedback-animation;

  &:hover {
    background-color: palette.$light-gray;
  }
}

.separator {
  display: block;

  width: 3px;
  aspect-ratio: 1 / 1;

  border-radius: 100%;

  background-color: currentColor;
}
