@use '@/styles/mixin' as mixin;
@use '@/styles/value' as value;
@use '@/styles/palette' as palette;

.navbar-container {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;

  display: flex;
  justify-content: center;

  width: 100%;
  height: value.$navbar-height;

  background-color: palette.$background-color;
}

.container {
  position: relative;

  display: flex;
  justify-content: flex-start;

  width: value.$fixed-width;

  padding: value.$normal-margin value.$content-padding;

  color: palette.$text-color;
}

// Route list
.list-container {
  list-style: none;

  display: flex;
  align-items: stretch;
  gap: value.$normal-margin;
}

.route-button {
  display: flex;
  align-items: center;
  gap: inherit;
}

.route-button > a {
  display: block;

  color: currentColor;
  text-decoration: none;

  padding: value.$normal-margin;

  @include mixin.button-styles($background-color: transparent);
  @include mixin.pointer-feedback-animation;

  &:hover,
  &:focus-visible {
    background-color: palette.$light-gray;
  }
}

.separator {
  display: block;

  width: 3px;
  aspect-ratio: 1 / 1;

  border-radius: 100%;

  background-color: currentColor;
}
