@use '@/styles/mixin' as mixin;
@use '@/styles/value' as value;

.container {
  display: flex;
  justify-content: space-between;
  gap: value.$small-margin;

  width: 100%;

  font-weight: bold;

  padding: value.$content-padding;

  @media screen and (max-width: #{value.$small-screen-width}) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  &.h1 {
    font-size: value.$first-title-font-size;
  }

  &.h2 {
    font-size: value.$second-title-font-size;
  }

  * {
    color: currentColor;
    font-size: inherit;
  }
}

.more-post-link {
  display: flex;
  gap: value.$small-margin;
  align-items: center;

  text-decoration: none;

  border-bottom: solid value.$border-width currentColor;

  .arrow {
    transition: transform 0.3s value.$ease-out;
  }

  &:hover,
  &:focus-visible {
    .arrow {
      transform: translateX(3px);
    }
  }
}
