@use '@/styles/mixin' as mixin;
@use '@/styles/value' as value;

.container {
  display: flex;
  justify-content: space-between;
  gap: value.$small-margin;

  width: 100%;

  font-weight: bold;

  padding: value.$content-padding;

  @media screen and (max-width: #{value.$small-screen-width}) {
    flex-direction: column;
    justify-content: flex-start;
  }

  &.h1 {
    font-size: value.$first-title-font-size;

    padding-bottom: value.$normal-margin;
  }

  &.h2 {
    font-size: value.$second-title-font-size;
  }

  * {
    color: currentColor;
    font-size: inherit;
  }
}
