@use '@/styles/value' as value;
@use '@/styles/palette' as palette;

.container {
  display: flex;
  align-items: center;
  gap: value.$normal-margin;
  flex-direction: column;

  width: 100%;

  padding: value.$content-padding * 2 0;

  font-size: value.$small-font-size;

  color: palette.$gray;

  > div {
    display: flex;
    justify-content: center;
    gap: value.$small-margin;
  }

  a {
    color: inherit;

    cursor: pointer;
  }
}
