@use '@/styles/palette' as palette;
@use '@/styles/value' as value;

@mixin fixed-width-container-styles {
  width: 100%;
  max-width: value.$fixed-width;
}

@mixin pointer-feedback-animation(
  $duration: 0.3s,
  $easing: value.$ease-out,

  $hover-brightness: 90%,
  $active-brightness: 85%,
  $active-scale: 0.97
) {
  opacity: 1;
  transform: scale(1);
  filter: brightness(100%);

  transition: all $duration $easing;

  &:hover {
    filter: brightness($hover-brightness);
  }

  &:active {
    filter: brightness($active-brightness);
    transform: scale($active-scale);
  }
}

@mixin full-width-with-padding {
  margin: auto;

  width: 100%;
  max-width: calc(100vw - 2 * value.$content-padding);
}

// Buttons
@mixin button-styles(
  $background-color: palette.$light-gray,
  $text-color: palette.$text-color,
  $border-radius: value.$border-radius,
  $cursor: pointer
) {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: $border-radius;

  -webkit-tap-highlight-color: trasparent;

  cursor: $cursor;

  font-size: value.$button-font-size;

  background-color: $background-color;
  color: $text-color;
}

// Animation
@mixin slide-appear-animation($duration: 1s, $delay: 0.3s) {
  animation: appear cubic-bezier(0.1, 0.2, 0.45, 1) $duration $delay both;

  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(8px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}

// Title
@mixin title-styles {
  font-weight: bold;

  padding: value.$content-padding;
}
