@use '@/styles/palette' as palette;
@use '@/styles/value' as value;

@mixin fixed-width-container-styles {
  width: 100%;
  max-width: value.$fixed-width;
}

@mixin pointer-feedback-animation {
  opacity: 1;
  transform: scale(1);
  filter: brightness(100%);

  transition-property: filter, transform;
  transition-timing-function: cubic-bezier(0, 0.25, 0.32, 0.95);
  transition-duration: 0.3s;

  &:hover {
    filter: brightness(95%);
  }

  &:active {
    filter: brightness(90%);
    transform: scale(0.97);
  }
}

// Buttons
@mixin button-style {
  border-radius: value.$border-radius;

  -webkit-tap-highlight-color: trasparent;

  background-color: palette.$light-gray;
  color: palette.$text-color;
}

// Animation
@mixin slide-appear-animation($duration: 2s, $delay: 1s) {
  animation: appear ease-in-out $duration $delay both;

  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(8px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
