@use '@/styles/palette' as palette;
@use '@/styles/value' as value;

@mixin fixed-width-container-styles {
  width: 100%;
  max-width: value.$fixed-width;

  justify-self: center;
}

@mixin pointer-feedback-animation {
  opacity: 1;
  transform: scale(1);
  filter: brightness(100%);

  transition: all 0.3s value.$ease-out;

  &:hover {
    filter: brightness(95%);
  }

  &:active {
    filter: brightness(90%);
    transform: scale(0.97);
  }
}

// Buttons
@mixin button-style(
  $background-color: palette.$light-gray,
  $text-color: palette.$text-color
) {
  border: none;
  border-radius: value.$border-radius;

  -webkit-tap-highlight-color: trasparent;

  cursor: pointer;

  background-color: $background-color;
  color: $text-color;
}

// Animation
@mixin slide-appear-animation($duration: 1s, $delay: 0.3s) {
  animation: appear cubic-bezier(0.1, 0.2, 0.45, 1) $duration $delay both;

  @keyframes appear {
    0% {
      opacity: 0;
      transform: translateY(8px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
}
