$white: hsl(0, 0%, 98%);
$light-gray: hsl(0, 0%, 90%);
$gray: hsl(0, 0%, 40%);
$dark-gray: hsl(0, 0%, 25%);
$black: hsl(0, 0%, 4%);

$red: hsl(0, 42%, 36%);
$orange: hsl(36, 28%, 47%);
$yellow: hsl(50, 53%, 60%);
$mint: hsl(143, 34%, 33%);
$green: hsl(141, 62%, 24%);
$blue: hsl(229, 47%, 38%);
$light-purple: hsl(266, 33%, 45%);

$accent-color: hsl(150, 40%, 33%);

// For purposes
$background-color: $white;
$text-color: $black;

$link-color: $accent-color;

// Code
$code-background-color: $light-gray;
$code-text-color: $black;

@mixin shiki-theme {
  --shiki-foreground: #{$code-text-color};
  --shiki-background: #{$code-background-color};
  --shiki-token-constant: #{$code-text-color};
  --shiki-token-string: #{$blue};
  --shiki-token-comment: #{$gray};
  --shiki-token-keyword: #{$blue};
  --shiki-token-parameter: var(--shiki-token-keyword);
  --shiki-token-function: #{$black};
  --shiki-token-string-expression: var(--shiki-token-string);
  --shiki-token-punctuation: #{$dark-gray};
  --shiki-token-link: #{$link-color};
}
