$black: black;
$gray: hsl(0, 0%, 83%);
$white: white;

$typescript-blue: hsl(252, 100%, 50%);
$react-cyan: hsl(198, 100%, 69%);
$vue-green: hsl(139, 68%, 53%);

$green: hsl(72, 100%, 50%);
$yellow: hsl(43, 100%, 50%);
$blue: $typescript-blue;
$purple: hsl(260, 100%, 62%);
$pink: hsl(331, 94%, 74%);
$cyan: $react-cyan;
