// Size
$fixed-width: 700px;
$small-screen-width: $fixed-width + 100px;

// Margin
$large-margin: 25px;
$big-margin: 19px;
$normal-margin: 10px;
$small-margin: 5px;

$content-padding: 30px;

// Flex
$item-gap: $large-margin;

// Border
$border-radius: 13px;
$large-border-radius: 20px;

// Text
$content-line-spacing: 2;

$first-title-font-size: 1.9rem;
$second-title-font-size: 1.4rem;
$third-title-font-size: 1.2rem;
$content-font-size: 1rem;
$content-small-font-size: 0.9rem;
$small-font-size: 0.7rem;

// Animation
$ease-out: cubic-bezier(0, 0.25, 0.32, 0.95);
