// Size
$fixed-width: 700px;
$small-screen-width: $fixed-width + 100px;

$navbar-height: 65px;

// Margin
$large-margin: 25px;
$big-margin: 16px;
$normal-margin: 10px;
$small-margin: 5px;

$content-padding: 30px;

$list-padding: 40px;

// Flex
$item-gap: $large-margin;

// Border
$small-border-radius: 9px;
$border-radius: 13px;
$large-border-radius: 20px;

$border-width: 2px;

// Text
$content-line-spacing: 2;
$content-small-line-spacing: 1.8;

$post-title-font-size: 2rem;
$first-title-font-size: 1.7rem;
$second-title-font-size: 1.4rem;
$third-title-font-size: 1.2rem;

$content-font-size: 1rem;
$content-small-font-size: 0.9rem;

$small-font-size: 0.8rem;

$button-font-size: 0.9rem;

// Animation
$ease-out: cubic-bezier(0, 0.25, 0.32, 0.95);
