$view-padding: 20px;
$content-gap: 7px;

$small-screen-width: 1100px;

$fixed-width: 600px;

// Dittering
@mixin add-dittering() {
  background-image: url('/assets/dittering.webp');
  background-repeat: repeat;
}
