@use '@/styles/palette' as palette;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::selection {
  background-color: palette.$blue;
  color: palette.$white;
}

body {
  max-width: 100vw;
  min-height: 100vh;

  background-color: palette.$black;
  background-image: url('/assets/background.webp');
  background-repeat: repeat;

  color: palette.$white;

  font-size: 12pt;
  line-height: 1.4;

  image-rendering: pixelated;
}

input,
textarea,
select,
button {
  font-family: inherit;
}

a {
  color: palette.$lightblue;
  text-decoration: underline;
}
