@use '@/styles/value' as value;
@use '@/styles/palette' as palette;

* {
  box-sizing: border-box;

  padding: 0;
  margin: 0;

  word-break: keep-all;
}

html {
  position: relative;

  scroll-padding-top: value.$navbar-height;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;

  max-width: 100vw;

  line-height: 1.4;

  background-color: palette.$background-color;
  color: palette.$text-color;

  font-family: var(--f-sans-serif), sans-serif;
  font-weight: 450;
  font-size: 12pt;
}

input,
textarea,
select,
button {
  font-family: inherit;
}

a {
  text-decoration: underline;
  color: palette.$link-color;
}

// Title
h1 {
  font-size: value.$first-title-font-size;
}

h2 {
  font-size: value.$second-title-font-size;
}

h3 {
  font-size: value.$third-title-font-size;
}
