@use '@/styles/palette' as palette;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;

  background-image: url('/assets/background.webp');
  background-repeat: repeat;

  color: palette.$white;

  font-size: 12pt;
  line-height: 1.4;

  image-rendering: pixelated;
}

input,
textarea,
select,
button {
  font-family: inherit;
}
