@use '@/styles/palette' as palette;
@use '@/styles/mixin' as mixin;
@use '@/styles/value' as value;

.container {
  display: flex;
  flex-direction: column;

  width: 100%;
}

// List
.list-container,
.category-container {
  display: flex;

  list-style-type: none;
}

.list-container {
  flex-direction: column;

  width: 100%;

  overflow-x: auto;
}

.techstack-item {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 value.$content-padding;
  border-radius: value.$border-radius;

  font-weight: 600;

  height: 48px;

  white-space: nowrap;

  background-color: var(--background-color);
  color: var(--text-color);
}
