@use '@/styles/palette' as palette;
@use '@/styles/mixin' as mixin;
@use '@/styles/value' as value;

.container {
  display: flex;
  flex-direction: column;

  width: 100%;
}

// List
.list-container,
.category-container {
  display: flex;
  flex-wrap: wrap;
  gap: value.$small-margin;

  list-style-type: none;
}

.list-container {
  flex-direction: column;

  @include mixin.full-width-with-padding;
}

.techstack-item {
  a {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0 value.$content-padding;
    border-radius: value.$border-radius;

    font-weight: 600;
    text-decoration: none;

    height: 48px;

    white-space: nowrap;
    user-select: none;

    background-color: var(--background-color);
    color: var(--text-color);

    @include mixin.pointer-feedback-animation(
      $hover-brightness: 85%,
      $active-brightness: 75%
    );
  }
}
