@use '@/styles/retro/value' as value;
@use '@/styles/retro/palette' as palette;

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: value.$content-gap;

  width: 100%;
  max-width: value.$fixed-width;
}

.text {
  color: palette.$lightblue;

  font-size: 2.5rem;
  text-align: center;
}
