@use '@/styles/blog/palette' as palette;
@use '@/styles/blog/value' as value;

body {
  background-color: palette.$background-color;
  color: palette.$text-color;

  font-family: var(--f-serif), var(--f-emoji), serif;
}

a {
  text-decoration: underline;
  color: palette.$link-color;
}
