@use '@/styles/palette' as palette;

body {
  background-color: palette.$background-color;
  color: palette.$text-color;

  font-family: var(--f-sans-serif), sans-serif;
  font-size: 12pt;
}

a {
  text-decoration: underline;
  color: palette.$link-color;
}
