@use '@/styles/value' as value;
@use '@/styles/fontsize' as fontsize;

.section-title-container {
  display: flex;
  gap: 35px;
  align-items: center;

  padding: 50px value.$view-padding;

  @media screen and (max-width: value.$small-screen-width) {
    & {
      padding: 50px value.$small-screen-padding;
    }
  }
}

.square {
  display: block;

  width: 30px;
  height: 30px;

  background-color: currentColor;
}

.title {
  font-size: fontsize.$large;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: value.$letter-spacing;
}
