@use '@/styles/palette' as palette;

.wipe-text-container {
  @media screen and (prefers-reduced-motion: no-preference) {
    animation: wipe-animation 0.7s 1 both linear;
    animation-delay: calc(var(--i) * 0.2s);
  }

  background-color: palette.$white;
  mix-blend-mode: color-burn;
}

@keyframes wipe-animation {
  0% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
  }
  100% {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
