@use '@/styles/retro/palette' as palette;
@use '@/styles/retro/value' as value;

.container {
  display: flex;
  gap: 3px;
}

// Button
.button-container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  background: none;
  border: none;

  cursor: pointer;

  font-size: 1.2rem;
  font-weight: 900;
}

.button-label {
  $shadow-offset: 3px;

  position: absolute;
  z-index: 1;

  color: palette.$white;
  text-shadow: $shadow-offset $shadow-offset 0 palette.$black;

  text-decoration: underline;
}
