@use '@/styles/value' as value;

.container {
  position: relative;

  display: flex;
  align-items: stretch;

  @media screen and (max-width: value.$small-screen-width) {
    flex-direction: column;
  }
}

.content-container {
  display: flex;
  justify-content: center;

  width: 100%;

  padding: value.$view-padding;
}
