@use '@/styles/value' as value;

$body-margin: value.$normal-margin;

.body-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: $body-margin;

  width: 100%;
  min-height: 100vh;

  margin: $body-margin 0;
}

.main-container {
  display: flex;
  justify-content: center;

  flex: 1;

  width: 100%;
}
