@use '@/styles/value' as value;

.body-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: value.$item-gap;

  width: 100%;
  min-height: 100vh;
}

.main-container {
  display: grid;

  width: 100%;
  min-height: value.$minimum-height;
}
