@use '@/styles/mixin' as mixin;
@use '@/styles/value' as value;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: value.$large-margin * 5;

  @include mixin.fixed-width-container-styles;
}
