@use '@/styles/mixin' as mixin;
@use '@/styles/palette' as palette;
@use '@/styles/value' as value;

.container {
  display: flex;
  justify-content: flex-start;

  @include mixin.fixed-width-container-styles;

  padding: value.$content-padding;
}

// Video background
.video-container {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  width: 100%;
  height: 100%;

  pointer-events: none;

  padding: value.$content-padding 0;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  object-fit: cover;

  width: 100%;
  height: 100%;
}

.video-credit-container {
  width: 100%;
  max-width: value.$fixed-width;

  padding: value.$content-padding;
}

.video-credit-container > p {
  pointer-events: auto;

  color: palette.$white;
  font-size: value.$content-small-font-size;

  opacity: 0.6;

  transition: opacity 0.15s ease-in-out;

  &:has(:focus-visible),
  &:hover {
    opacity: 1;
  }

  a {
    color: currentColor;
  }
}

// Content
.content-container {
  display: flex;
  flex-direction: column;

  gap: value.$large-margin;
}

.text-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: value.$small-margin;

  line-height: value.$content-line-spacing;

  font-size: value.$content-font-size;

  h1 {
    font-size: value.$second-title-font-size;

    @include mixin.slide-appear-animation;
  }
}

.link-container {
  display: flex;
  align-items: stretch;
  gap: value.$normal-margin;

  a {
    display: flex;

    width: 20px;
    height: 20px;
  }
}
