@use '@/styles/value' as value;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: value.$normal-margin;

  padding: value.$content-padding 0;

  width: 100vw;

  font-size: value.$content-font-size;
}

.title {
  font-size: value.$first-title-font-size;
}
