@use '@/styles/mixin' as mixin;
@use '@/styles/palette' as palette;
@use '@/styles/value' as value;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: value.$fixed-width;
  height: 100%;
}

// Video background
.video-container {
  position: relative;

  display: flex;
  align-items: flex-end;
  justify-content: center;

  width: 100%;
  height: 400px;

  border-radius: value.$border-radius;

  @media screen and (max-width: #{value.$fixed-width}) {
    border-radius: 0;
  }

  overflow: hidden;
}

.video {
  position: absolute;
  top: 0;
  left: 0;

  object-fit: cover;

  pointer-events: none;

  width: 100%;
  height: 100%;
}

.video-credit-container {
  width: 100%;
  max-width: value.$fixed-width;
}

.video-credit-container > p {
  color: palette.$white;
  font-size: value.$content-small-font-size;

  opacity: 0.6;

  transition: opacity 0.15s ease-in-out;

  &:has(:focus-visible),
  &:hover {
    opacity: 1;
  }

  a {
    color: currentColor;
  }
}

// Content
.content-container {
  display: flex;
  flex-direction: column;
  gap: value.$large-margin;

  padding: value.$content-padding;

  width: 100%;
}

.text-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: value.$normal-margin;

  font-size: value.$content-small-font-size;

  h1 {
    font-size: value.$second-title-font-size;

    @include mixin.slide-appear-animation;
  }
}

.link-container {
  display: flex;
  align-items: stretch;
  gap: value.$normal-margin;

  a {
    display: flex;

    width: 20px;
    height: 20px;
  }
}
