@use '@/styles/retro/value' as value;
@use '@/styles/retro/sections' as sections;

.container {
  @include sections.default-section-style;
}

.list-container {
  width: 100%;
  max-width: value.$fixed-width;

  list-style-position: inside;

  ul,
  li {
    padding: revert;
    margin: revert;
  }
}

.tech-stack-item {
  list-style-position: outside;

  h3 {
    font-size: 1em;
  }

  p {
    white-space: pre-wrap;
  }
}
