@use '@/styles/palette' as palette;
@use '@/styles/value' as value;
@use '@/styles/fontsize' as fontsize;

.tech-stack-item-container {
  display: flex;
  align-items: center;

  height: 100%;

  padding: 0 200px;

  background-color: palette.$gray;
  color: palette.$black;

  &:hover {
    background-color: var(--background-color);
    color: var(--text-color);
  }
}

.tech-name {
  display: block;

  font-size: fontsize.$extra-large;
  text-transform: uppercase;
  letter-spacing: value.$letter-spacing;
  font-weight: 700;
}
