@use '@/styles/sections' as sections;
@use '@/styles/value' as value;
@use '@/styles/palette' as palette;

.container {
  @include sections.default-section-style;
}

.tech-stack-container {
  display: flex;
  flex-direction: column;
  gap: value.$content-gap;
}

.list-container {
  &:nth-child(even) {
    color: palette.$lightgray;
  }

  & > li {
    margin: 10px 0;
  }
}
