@use '@/styles/palette' as palette;
@use '@/styles/mixin' as mixin;
@use '@/styles/value' as value;

.container {
  position: relative;

  @include mixin.fixed-width-container-styles;

  display: flex;
  flex-direction: column;
  gap: value.$item-gap;
}

// Title
.title {
  padding: value.$content-padding;
}
