@use '@/styles/palette' as palette;
@use '@/styles/mixin' as mixin;
@use '@/styles/value' as value;

.container {
  position: relative;

  @include mixin.fixed-width-container-styles;

  display: flex;
  flex-direction: column;
  gap: value.$large-margin;
}

// Title
.title-container {
  padding: value.$content-padding;
}

// Post list
.post-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: value.$large-margin;

  width: 100%;
}
