@use '@/styles/retro/value' as value;
@use '@/styles/retro/sections' as sections;

.container {
  @include sections.default-section-style;
}

// Project items
.list-container {
  display: flex;
  gap: value.$content-gap;
  flex-direction: column;

  width: 100%;
  max-width: value.$fixed-width;
}

.project-item {
  border: solid 1px currentColor;
}

.project-item > figure {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.project-image {
  max-width: 100%;
  height: auto;
}

.project-detail-content {
  display: flex;
  gap: value.$content-gap;
  flex-direction: column;

  padding: value.$content-gap;
}

.project-techstacks {
  font-style: oblique;
}

.project-url-container {
  display: flex;
  gap: value.$content-gap;

  list-style: none;
}
