@use '@/styles/blog/palette' as palette;
@use '@/styles/blog/value' as value;

.container {
  display: grid;
  grid-template-columns: 1fr auto;

  width: 100%;

  background-color: transparent;
  color: palette.$text-color;

  border: solid value.$border-slim-width palette.$border-color;
  border-left: none;
  border-right: none;

  text-align: left;
}

// Left side
.content-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: value.$content-gap;

  max-width: 100%;
  height: 100%;

  padding: value.$safe-padding;
}

.post-info-container {
  display: flex;
  flex-direction: column;
  gap: value.$content-small-gap;

  width: 100%;
}

.category-container {
  display: flex;

  width: 100%;

  color: palette.$dark-2-beige;

  .category {
    display: inline-flex;
    gap: value.$content-small-gap;

    font-size: 0.9rem;

    &::before {
      content: '#';
    }
  }
}

// Right side
.side-button-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90px;
  height: 100%;

  border: none;
  border-left: solid value.$border-slim-width palette.$border-color;

  background-color: transparent;

  cursor: pointer;

  .right-arrow {
    display: block;
    transform: translateX(-25%);

    &::after {
      content: '';

      display: block;
      transform: rotate(45deg);

      width: 10px;
      aspect-ratio: 1 / 1;

      border: solid value.$border-width palette.$text-color;
      border-left: none;
      border-bottom: none;
    }
  }
}
