@use '@/styles/blog/palette' as palette;
@use '@/styles/blog/value' as value;

.list-container {
  list-style: none;
}

.link-wrapper {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: value.$content-gap;

  width: 100%;

  background-color: transparent;
  color: palette.$text-color;

  border: solid value.$border-slim-width palette.$border-color;
  border-radius: value.$border-radius;

  padding: value.$safe-padding;

  text-align: left;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: value.$content-small-gap;

  width: 100%;
}

.title {
  font-size: 1.2em;

  .link-wrapper:hover & {
    text-decoration: underline;
  }
}

// Post information
.info-container {
  display: flex;
  gap: value.$content-small-gap;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  color: palette.$gray;

  font-size: 0.9rem;

  @media screen and (max-width: 500px) {
    flex-direction: column;
    justify-content: unset;
    align-items: flex-start;
  }
}

.category-container {
  display: flex;
  gap: value.$content-small-gap;

  .category {
    display: inline-flex;
    gap: value.$content-small-gap;
  }
}
