@use '@/styles/palette' as palette;
@use '@/styles/value' as value;

.list-container {
  list-style: none;
}

.link-wrapper {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: value.$large-margin;

  width: 100%;

  padding: value.$large-margin;
  border-radius: value.$border-radius;

  background-color: palette.$light-gray;
  color: palette.$text-color;

  text-align: left;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: value.$small-margin;

  width: 100%;
}

.title {
  font-size: 1.2em;

  .link-wrapper:hover & {
    text-decoration: underline;
  }
}

// Post information
.info-container {
  display: flex;
  gap: value.$small-margin;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  color: palette.$gray;

  font-size: 0.9rem;

  @media screen and (max-width: 500px) {
    flex-direction: column;
    justify-content: unset;
    align-items: flex-start;
  }
}

.category-container {
  display: flex;
  gap: value.$small-margin;

  .category {
    display: inline-flex;
    gap: value.$small-margin;
  }
}
