@use '@/styles/palette' as palette;
@use '@/styles/mixin' as mixin;
@use '@/styles/value' as value;

.list-container {
  list-style: none;

  width: 100%;
}

.link-wrapper {
  display: flex;

  text-decoration: none;

  @include mixin.pointer-feedback-animation;
  @include mixin.button-styles;

  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  gap: value.$item-gap;

  width: 100%;

  padding: value.$content-padding;

  text-align: left;

  font-size: value.$content-small-font-size;
}

// Title
.title-container {
  display: flex;
  flex-direction: column;
  gap: value.$small-margin;

  width: 100%;
}

.title {
  font-size: value.$third-title-font-size;

  text-decoration: none;
}

// Description
.description {
  color: palette.$dark-gray;
}

// Post information
.info-container {
  display: flex;
  gap: value.$small-margin;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  color: palette.$gray;

  font-size: 1em;

  @media screen and (max-width: 500px) {
    flex-direction: column;
    justify-content: unset;
    align-items: flex-start;
  }
}

.category-container {
  display: flex;
  gap: value.$small-margin;

  .category {
    display: inline-flex;
    gap: value.$small-margin;
  }
}
