@use '@/styles/value' as value;

.container {
  display: flex;
  flex-direction: column;

  width: 100%;

  &.align-right {
    text-align: right;

    align-items: flex-end;
  }
}

.image {
  border-radius: value.$border-radius;
}

.info-container {
  display: flex;
  flex-direction: column;
  gap: value.$small-margin;

  padding: value.$large-margin;

  flex: 1;
}

.description {
  white-space: prewrap;

  line-height: value.$content-line-spacing;
}
