@use '@/styles/mixin' as mixin;
@use '@/styles/value' as value;
@use '@/styles/palette' as palette;

$distance-from-edge: value.$content-padding;

.container {
  position: fixed;
  bottom: $distance-from-edge;
  right: $distance-from-edge;
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 100%;

  color: palette.$text-color;

  width: 40px;
  height: 40px;
}

$border-width: 4px;

.progress-border {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  border-radius: inherit;

  background-color: palette.$light-gray;

  > circle {
    fill: none;

    stroke: currentColor;
  }
}

.button-container {
  color: currentColor;

  width: calc(100% - $border-width);
  height: calc(100% - $border-width);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  @include mixin.button-style(
    $background-color: transparent,
    $text-color: currentColor,
    $border-radius: 100%
  );

  .border-visible & {
    @include mixin.button-style(
      $background-color: palette.$white,
      $text-color: currentColor,
      $border-radius: 100%
    );
  }

  > svg {
    overflow: visible;

    stroke: currentColor;
    stroke-width: 12;

    fill: none;

    width: 40%;
    height: 40%;
  }
}
