.container {
  position: relative;

  display: flex;

  width: 100%;
  max-width: fit-content;
  height: fit-content;

  overflow: hidden;
}

.marquee-container {
  white-space: nowrap;

  @media screen and (prefers-reduced-motion: no-preference) {
    animation: marquee-animation var(--duration, 6s) infinite linear;
  }
}

@keyframes marquee-animation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
