@use '@/styles/retro/value' as value;
@use '@/styles/retro/palette' as palette;

.container {
  position: relative;

  display: flex;
  justify-content: center;

  width: 100%;
  height: 2px;

  margin: value.$content-gap;
}

.separator {
  position: absolute;
  top: 0;

  display: block;

  width: 100%;
  height: 100%;

  background-image: linear-gradient(
    to right,
    palette.$red,
    palette.$orange,
    palette.$yellow,
    palette.$green,
    palette.$blue,
    palette.$purple,
    palette.$red
  );

  @media screen and (prefers-reduced-motion: no-preference) {
    background-size: 200%;

    animation: rainbow-animation 1s infinite linear;
  }
}

@keyframes rainbow-animation {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 200%;
  }
}
