$black: black;
$gray: gray;
$lightgray: rgb(182, 182, 182);
$white: white;

$red: red;
$orange: orange;
$yellow: yellow;
$green: rgb(0, 255, 0);
$lightblue: rgb(26, 105, 202);
$blue: blue;
$purple: purple;
