@use '@/styles/retro/value' as value;
@use '@/styles/retro/palette' as palette;

@mixin default-section-style() {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: value.$content-gap;

  width: 100%;
}
