$view-padding: 20px;
$section-gap: 30px;
$content-gap: 12px;

$small-screen-width: 520px;

$fixed-width: 600px;

// Dittering
@mixin add-dittering() {
  background-image: url('/assets/retro/dittering.webp');
  background-repeat: repeat;
}
