@use 'sass:color';

// Basic colors
$white: hsl(0, 0%, 82%);
$gray: hsl(0, 0%, 55%);
$dark-gray: hsl(0, 0%, 15%);
$darker-gray: hsl(0, 0%, 5%);
$black: hsl(0, 0%, 0%);

// Colors
$green: hsl(84, 20%, 49%);
$blue: hsl(229, 39%, 53%);
$yellow: hsl(50, 56%, 64%);
$red: hsl(0, 34%, 50%);
$orange: hsl(36, 33%, 56%);

$mint: hsl(174, 30%, 56%);
$light-purple: hsl(270, 38%, 73%);

// Element colors
$link-color: $mint;

$border-color: $dark-gray;

$accent-color: $green;
$background-color: $black;
$text-color: $white;

// Code syntax highlight
$code-background-color: $darker-gray;
$code-border-color: $border-color;
$code-text-color: $white;

// Shiki
@mixin shiki-theme {
  --shiki-foreground: #{$code-text-color};
  --shiki-background: #{$code-background-color};
  --shiki-token-constant: #{$code-text-color};
  --shiki-token-string: #{$mint};
  --shiki-token-comment: #{$gray};
  --shiki-token-keyword: #{$red};
  --shiki-token-parameter: var(--shiki-token-keyword);
  --shiki-token-function: #{$light-purple};
  --shiki-token-string-expression: var(--shiki-token-string);
  --shiki-token-punctuation: #{$dark-gray};
  --shiki-token-link: #{$link-color};
}
