@use 'sass:color';

// Basic colors
$gray: hsl(35, 8%, 48%);

$beige: hsl(33, 30%, 75%);
$dark-beige: color.adjust($beige, $lightness: -30%);
$black-beige: hsl(30, 20%, 6%);
$dark-2-beige: color.adjust($black-beige, $lightness: 30%);
$dark-3-beige: color.adjust($black-beige, $lightness: 12%);
$dark-4-beige: color.adjust($black-beige, $lightness: -2%);

// Colors
$green: hsl(84, 20%, 49%);
$blue: rgb(88, 105, 182);
$yellow: rgb(215, 198, 112);
$red: hsl(0, 34%, 50%);

$mint: hsl(174, 30%, 56%);
$light-purple: hsl(270, 38%, 73%);

// Element colors
$link-color: $mint;

$border-color: $dark-3-beige;

$background-color: $black-beige;
$text-color: $beige;

// Code syntax highlight
$code-background-color: $dark-4-beige;
$code-text-color: $beige;

// Shiki
@mixin shiki-theme {
  --shiki-foreground: #{$code-text-color};
  --shiki-background: #{$code-background-color};
  --shiki-token-constant: #{$code-text-color};
  --shiki-token-string: #{$mint};
  --shiki-token-comment: #{$gray};
  --shiki-token-keyword: #{$red};
  --shiki-token-parameter: var(--shiki-token-keyword);
  --shiki-token-function: #{$light-purple};
  --shiki-token-string-expression: var(--shiki-token-string);
  --shiki-token-punctuation: #{$dark-beige};
  --shiki-token-link: #{$link-color};
}
