@use 'sass:color';
@use '@/styles/blog/palette' as palette;
@use '@/styles/blog/value' as value;

$skeleton-color: palette.$darker-beige;
$skeleton-color-darker: color.adjust($skeleton-color, $lightness: -4%);
$animation-delay: 0.13s;

@mixin skeleton-styles($index: 0) {
  position: relative;

  background-color: $skeleton-color;

  overflow: hidden;

  border-radius: value.$border-radius;

  @media screen and (prefers-reduced-motion: no-preference) {
    &::after {
      content: '';

      position: absolute;
      top: 0;

      width: 80%;
      height: 100%;

      background-image: linear-gradient(
        to right,
        transparent 0%,
        $skeleton-color-darker 50%,
        transparent 100%
      );

      animation: skeleton-gradient-animation 1s calc($animation-delay * $index)
        infinite linear both;
    }
  }
}

@keyframes skeleton-gradient-animation {
  0% {
    left: 100%;
    transform: translateX(0%);
  }
  100% {
    left: 0%;
    transform: translateX(-100%);
  }
}
