$fixed-width: 700px;
$small-screen-width: $fixed-width + 100px;

$bottom-padding: 350px;
$safe-padding: 30px;

$reading-line-spacing: 1.8;

$content-gap: 12px;

$blur-intensity: 5px;

$border-slim-width: 1px;
$border-width: 2px;
$border-radius: 8px;
