$fixed-width: 700px;
$small-screen-width: $fixed-width + 100px;

$bottom-padding: 350px;
$safe-padding: 15px;

$reading-line-spacing: 1.8;

// Gap
$content-small-gap: 4px;
$content-gap: 15px;

$blur-intensity: 5px;

$border-slim-width: 1px;
$border-width: 2px;

// Container
@mixin fixed-width-container-styles {
  width: 100%;
  max-width: $fixed-width;

  padding: $safe-padding;
}
