@use '@/styles/blog/value' as value;
@use '@/styles/blog/skeleton' as skeleton;

.image-container {
  display: flex;
  justify-content: center;

  width: 100%;
}

.image {
  width: 100%;
  max-width: 350px;
  height: auto;

  background-color: skeleton.$skeleton-color;
}
