.container {
  position: relative;

  width: 100%;
  max-width: 500px;
}

.welcome-text-image {
  width: 100%;
  height: auto;
}

.glow {
  position: absolute;

  @media screen and (prefers-reduced-motion: no-preference) {
    animation: glowing-animation 2s infinite steps(5, end);
  }
}

@keyframes glowing-animation {
  0%,
  95% {
    opacity: 1;
    transform: scale(1);
  }
  45%,
  55% {
    opacity: 0.5;
    transform: scale(0.7);
  }
}
