@use 'sass:color';
@use '@/styles/blog/palette' as palette;
@use '@/styles/blog/value' as value;
@use '@/styles/blog/skeleton' as skeleton;

.container {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 300px;

  border-bottom: solid value.$border-slim-width palette.$code-border-color;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  padding: value.$safe-padding;

  text-align: center;
}

.skeleton {
  display: block;

  width: 100%;
  max-width: 550px;
  height: 50px;

  @include skeleton.skeleton-styles;
}
