@use 'sass:color';
@use '@/styles/blog/palette' as palette;
@use '@/styles/blog/value' as value;
@use '@/styles/blog/skeleton' as skeleton;

.container {
  position: relative;

  display: flex;
  gap: value.$content-gap;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  border-bottom: solid value.$border-slim-width palette.$border-color;

  padding: value.$safe-padding;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 300px;

  text-align: center;
}

.info-container {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: value.$fixed-width;

  color: palette.$gray;
}

// Skeleton
.skeleton {
  display: block;

  width: 100%;
  max-width: 550px;
  height: 50px;

  @include skeleton.skeleton-styles;
}
