@use 'sass:color';
@use '@/styles/palette' as palette;
@use '@/styles/value' as value;

.container {
  position: relative;

  display: flex;
  gap: value.$normal-margin;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;

  padding: value.$content-padding;
  padding-top: 200px;

  background-color: palette.$black;
  color: palette.$white;

  border-radius: value.$large-border-radius;

  @media screen and (max-width: value.$fixed-width) {
    border-radius: 0;
  }
}

.title-container {
  display: flex;
  justify-content: flex-start;

  width: 100%;
}

.info-container {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: value.$fixed-width;

  color: color.adjust(palette.$gray, $lightness: 20%);

  > ul {
    list-style-type: none;
  }
}
