@use '@/styles/value' as value;
@use '@/styles/palette' as palette;

.container {
  display: flex;
  flex-direction: column;

  border-radius: value.$border-radius;

  overflow: hidden;

  margin: value.$large-margin 0;

  background-color: var(--background-color);

  // Variants
  &.normal {
    --background-color: #{palette.$gray};
  }

  &.info {
    --background-color: #{palette.$blue};
  }

  &.okay {
    --background-color: #{palette.$green};
  }

  &.warn {
    --title-color: #{palette.$orange};
    --background-color: #{palette.$yellow};
  }

  &.error {
    --background-color: #{palette.$red};
  }
}

.content-container {
  display: flex;
  flex-direction: column;

  padding: value.$large-margin;

  background-color: rgba(palette.$background-color, 0.8);
  color: var(--text-color, #{palette.$text-color});

  width: 100%;
  height: 100%;
}

.title {
  font-size: value.$content-font-size;
}
