@use '@/styles/palette' as palette;
@use '@/styles/value' as value;

.scroll-down-container {
  position: relative;
  display: flex;

  width: 100%;

  background-color: palette.$black;
  color: palette.$white;

  padding: 20px 0;

  overflow: hidden;

  user-select: none;
}

.animation-area {
  display: flex;

  @media screen and (prefers-reduced-motion: no-preference) {
    animation: scroll-animation var(--duration) infinite both linear;
  }
}

@keyframes scroll-animation {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
