@use '@/styles/blog/palette' as palette;
@use '@/styles/blog/value' as value;

.container {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 100%;
}

.content-container {
  width: 100%;
  max-width: value.$fixed-width;

  line-height: value.$reading-line-spacing;

  padding: value.$safe-padding;
}

.image {
  width: 350px;
  height: auto;
}
