@use '@/styles/blog/palette' as palette;
@use '@/styles/blog/value' as value;

.wrapper {
  display: flex;
  justify-content: center;

  width: 100%;
}

.container {
  display: flex;
  align-items: stretch;
  flex-direction: column;

  @include value.fixed-width-container-styles;
}

.content-container {
  & {
    line-height: value.$reading-line-spacing;

    font-size: 1.1rem;
  }

  // @todo organize these classes.. omg

  // Headings
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6 {
    @extend %headings !optional;

    position: relative;

    margin-top: calc(value.$content-gap * 2.5);
    margin-bottom: value.$content-gap;

    &::before {
      content: '#';

      position: absolute;
      left: 0;
      transform: translateX(calc(-100% - value.$content-gap));

      display: block;

      color: palette.$accent-color;
    }
  }

  // Small screen
  @media screen and (max-width: value.$small-screen-width) {
    %headings::before {
      position: relative;
      transform: none;
    }

    ul,
    ol {
      list-style-position: inside;
    }
  }

  // Element margins
  p,
  hr,
  ul,
  ol,
  :not(pre) > code,
  pre {
    margin: value.$content-gap 0;
  }

  // Separator
  hr {
    color: palette.$dark-gray;
  }

  // Syntax highlighting
  code {
    font-size: 0.9rem;
    letter-spacing: normal;
  }

  :not(pre) > code,
  pre {
    border: solid value.$border-slim-width palette.$code-border-color;
    border-radius: value.$border-radius;

    background-color: palette.$code-background-color;
    color: palette.$code-text-color;
  }

  :not(pre) > code {
    padding: 5px 8px;

    background-color: palette.$code-background-color;
    color: palette.$code-text-color;

    font-size: 0.8em;
  }

  pre {
    padding: value.$content-gap 0;
    padding: (value.$content-gap + 5px);

    overflow-x: auto;

    // Shiki highlighter
    &:global(.shiki) {
      @include palette.shiki-theme();

      display: flex;
      flex-direction: column;
    }

    code span:global(.line),
    code:not(:has(span)) {
      display: inline-block;
      width: 100%;

      &:global(.highlighted) {
        background-color: palette.$gray;
      }
    }
  }

  // Blockquote
}
